<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
        <title>Login</title>
</head>
<body>
    <form action="submit" method="POST">{% csrf_token %}
        <div class="box" align="center">
            <h1>Agenda Online</h1>
            <h2>Login</h2>
            <br>
            <label>Usuário</label>
            <br>
            <input placeholder="Usuário" type="text" name="username">
            <br>
            <br>
            <label>Senha</label>
            <br>
            <input placeholder="Senha" type="password" name="password">
            <br><br>
            <p></p>
            <button class="btn30" type="submit" role="button">Entrar</button>
            <br><br>
                <center>
    {% for message in messages %}
    <strong>Erro: </strong>{{message}}
    {% endfor %}
    </center>
        </div>
    </form>
</body>
</html>