<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
        <title>Login</title>
</head>
<body>
    <form action="submit" method="POST">{% csrf_token %}
        <div class=frame1 align="center">
            <h1>Login</h1>
            <label>Usuário</label>
            <br>
            <input type="text" name="username">
            <br>
            <br>
            <label>Senha</label>
            <br>
            <input type="password" name="password">
            <br><br>
            <p></p>
            <button style="color: black; background-color: gray" class="btn" type="submit">Entrar</button>
            <br><br>
        </div>
    </form>
    {% for message in messages %}
    <strong>Erro: </strong>{{message}}
    {% endfor %}
</body>
</html>